<h2>My Heroes</h2>

<ul class="heroes">
	<li *ngFor="let hero of heroes">
		<a routerLink="/detail/{{hero.id}}">
			<span class="badge">{{hero.id}}</span> {{hero.name}} , {{hero.birthday | date: 'yyyy-MM-dd'}}
		</a>
		<button class="delete" title="delete hero" (click)="delete(hero)">x</button>
	</li>
</ul>

<h2>Add new hero:</h2>

<div>
	<label>Name:</label>
	<div class="input-group">
		<input [(ngModel)]="newHero.name"/>
	</div>
</div>
<div>
	<label>Birthday:</label>
	<div class="form-group">
		<div class="input-group">
			<input type="text" ngbDatepicker [(ngModel)]="newHero.birthday" #d="ngbDatepicker" class="form-control"
					placeholder="yyyy-mm-dd"/>
			<div class="input-group-append">
				<button (click)="d.toggle()" type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-calendar"></span> Calendar
				</button>
			</div>
		</div>
	</div>
</div>
<button (click)="add()">
	Add
</button>
