<div *ngIf="hero">

	<h2>{{hero.name | uppercase}} Details</h2>
	<div><span>ID: </span>{{hero.id}}</div>
	<div>
		<label>Name:
			<input [(ngModel)]="hero.name" placeholder="name"/>
		</label>
	</div>
	<div>
		<label>Birthday:</label>
		<div class="form-group">
			<div class="input-group">
				<input type="text" ngbDatepicker [(ngModel)]="hero.birthday" #d="ngbDatepicker" class="form-control"
						placeholder="yyyy-mm-dd"/>
				<div class="input-group-append">
					<button (click)="d.toggle()" type="button" class="btn btn-outline-secondary calendar">
						Calendar
					</button>
				</div>
			</div>
		</div>

	</div>


	<button (click)="save()">save</button>
	<button (click)="goBack()">go back</button>

</div>
